
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/
.venv/
.env.bak

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
*.iml

# Coverage reports
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Postgres temporary files
*.psql

# Node / frontend stuff (if any)
node_modules/
dist/
build/